# Dépendances
node_modules/
.dart_tool/
.packages
.yarn/cache
.yarn/unplugged
.pnp.*

# Build
backend/dist/
admin/dist/
mobile/build/

# Environnement (IMPORTANT : ne jamais push les secrets)
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flutter
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/

# Firebase
**/google-services.json
**/GoogleService-Info.plist
**/firebase_app_id_file.json

# Sentry
*.dSYM.zip
*.dSYM

# Logs
*.log
npm-debug.log*